.imag{
  width: 100%;
  height: auto;
  background-attachment: fixed;
  position: absolute;
  z-index: -1;
  filter: brightness(50%);
}
.contTitleP{
  color: aliceblue;
  width: 50vh;
  margin-top: 10vh;
  margin-left: 7vh;
}
.content{
  background-color: aliceblue;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}