
.containerMain{
  background-image: url("https://i.pinimg.com/originals/58/8b/91/588b9185933ddf836229c29d6d75ce57.jpg");
  background-repeat: no-repeat;
 background-position: center;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
 
  text-align: center;
  margin-top: 25vh;
}
.venta{
  width: 100%;
  height: auto;
  margin-top: 12vh ;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titleDpt{
  font-size: 5vh;
  color:  #3093b8e8;
}
.subtitleDpt{
  font-size: 1vh;
}
.cards{
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto;
  width: 90%;
  height: auto;
  margin: auto;
 
}
.card{
  background-color: antiquewhite;
  width: 50vh;
  height: 80vh;
  margin: 9px;
}

.inputSel{
  width: 35vh;
  height: 8vh;
 background-color: #4C66FA;
 text-decoration: none;
 text-align: center;
 font-size: 2vh;
 border: none;
 outline: none;
}
.inputSel:hover{
  cursor: pointer;
  border: none;
  text-decoration: none;
}
.btn{
  width: 15vh;
  height: 8.4vh;
  border: none;
 background-color:  #39B5E3;
}
.btn:hover{
  cursor: pointer;

}

.vInmueble{
  background-image: url("../public/imgCasa.jpg");
  background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 background-attachment: fixed;
  width: 100%;
  height: 60vh;
  margin-top: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.vInmueble h1{
  font-size: 5vh;
}
.vInmueble p{
  font-size: 2vh;
  
}
.btnvInm{
  margin-top: 5vh;
  width: 35vh;
  height: 8.4vh;
  color: #fff;
  font-size: 2vh;
  text-align: center;
  border: none;
 background-color:  #39B5E3;
}
.btnvInm:hover{
  cursor: pointer;
  background-color:  #3093b8e8;
}
.servicio{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contentCardServ{
  display: grid;
  grid-template-columns: repeat(3, auto);
  text-align: center;
  justify-content: center;
}

.cardsServicio{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 52vh;
  height:auto;
  margin: 10vh;
}
.icon{
  margin: 2vh;
  font-size: 15vh;
  color: #9205E8;
}
.titleSirvicio{
  font-size: 4vh;
}
.subtitleSirvicio{
  font-size: 2.3vh;
}
.btnServ{
  margin-top: 5vh;
  width: 55vh;
  height: 8.4vh;
  color: #fff;
  font-size: 2.2vh;
  text-align: center;
  border: none;
 background-color:  #39B5E3;
}
.btnServ:hover{
  cursor: pointer;
  background-color:  #3093b8e8;
}