.imag{
  width: 100%;
  height: auto;
  background-attachment: fixed;
  position: absolute;
  z-index: -1;
  opacity: .5;
}
.contTitleP{
  background-color: #39B5E3;
  width: 50vh;
  margin-top: 10vh;
  margin-left: 7vh;
}
.content{
  background-color: aliceblue;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.container{
  padding-top: 10vh;
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: auto;
}
.img{
  border-radius: 10%;
  width: 82vh;
}
.spn{
  font-size: 3vh;
}