.imag{
  width: 100%;
  height: auto;
  background-attachment: fixed;
  position: absolute;
  z-index: -1;
  filter: brightness(50%);
}
.contTitleP{
  color: aliceblue;
  width: 50vh;
  margin-top: 10vh;
  margin-left: 7vh;
}
.content{
  background-color: aliceblue;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.container{
  padding-top: 10vh;
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: auto;
}
.img{
  border-radius: 10%;
  width: 82vh;
}
.spn{
  font-size: 3vh;
}
.contNos{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  margin-top: 10vh;
}
.contImage{
  margin: auto;
}
.imgT{
  width: 65vh;
  height: 65vh;
  border-radius: 50%;
  margin: auto;
}
.textS{
  margin:auto;
  width: 50%;

}
.textS h2{
  font-size: 5vh;
}
.textS p{
  font-size: 3vh;
}