.imag{
  width: 100%;
  height: auto;
  background-attachment: fixed;
  position: absolute;
  z-index: -1;
  filter: brightness(50%);
}
.contTitleP{
  color: aliceblue;
  width: 50vh;
  margin-top: 10vh;
  margin-left: 7vh;
}
.content{
  background-color: #fff;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.img{
  width: 60vh;
  border-radius: 0;
}
.infoServ{
  
  display: flex;
  flex-direction: row;
  width: 75%;
  margin: auto;
  margin-top: 10vh;
}
.contentText{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  color: #39B5E3;
}
.title{
  font-size: 7vh;
  
}
.subTitle{
  font-size: 4vh;
}
.parrafo{
  font-size: 3vh;
}

.contentForm{
  margin-top: 10vh;
  
}
.titleForm{
  margin: auto;
  padding-top: 7vh;
  text-align: center;
  font-size: 4vh;

}
.form{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

.input{
  margin-top: 3vh;
}
.check{
  padding: 2vh 0 ;
}
.span{
  padding: 2vh 0 ;
}